{% extends 'main.html' %}
{% block title %}<title>Видео</title>{% endblock %}
{% load static %}
{% block content %}
<!-- Section -->
<section>
    <header class="major">
        <h2>Контент</h2>
    </header>
    <div class="posts">
        {% for video in video_list %}
        <article>
            <a href="{% url 'video' video.id %}" class="image"><img src="{{ video.image.url }}" alt="" /></a>
            <h3>{{ video.title }}</h3>
            <p>{{ video.description|slice:":100" }}</p>
            <span >{{ video.create_at }}</span>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </article>
        {% endfor %}
    </div>
</section>

{% endblock %}